<head>
	<link rel="stylesheet" type="text/css" href="background.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="warpspeed.min.js"></script>
</head>
<div class="container">

	<a href="something" class="button1">Button</a>

	<div class="bird-container bird-container--one">
		<div class="bird bird--one"></div>
	</div>

	<div class="bird-container bird-container--two">
		<div class="bird bird--two"></div>
	</div>

	<div class="bird-container bird-container--three">
		<div class="bird bird--three"></div>
	</div>

	<div class="bird-container bird-container--four">
		<div class="bird bird--four"></div>
	</div>

</div>
