<!DOCTYPE html>
<html>
<head>
  <title>Grand Challenges in Computer Science - Project 2</title>
  <script type="text/javascript" src="{{ url_for('static', filename='warpspeed.min.js') }}"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ex.css') }}">
  <link href="//fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <canvas id="canvas" style="position:fixed; top:0; left:0; width:100%; height:100%;"></canvas>
  <script>var x=new WarpSpeed("canvas");</script>
  <div class="screen">
   <div class="innerdiv">
     <p class = "name">
        Andy Yu
     </p>

   </div>
</div>
  <div class="container2">
    <p class = "heading">
      Investigating the viability of cryptocurrency as a fiat money
    </p>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
  <a href="https://andy-yu-crypto.herokuapp.com/line" class="button1">Visualisation #1</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
  <a href="https://andy-yu-crypto.herokuapp.com/scatter" class="button1">Visualisation #2</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
  <a href="https://andy-yu-crypto.herokuapp.com/bar" class="button1">Visualisation #3</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
  <a href="https://andy-yu-crypto.herokuapp.com/stackedline" class="button1">Visualisation #4</a>
  </div>

</body>
</html>
